<h2><%= @profile.username %></h2>
<img src="<%= profile.avatar %>" width="100" height="100">
<hr>
<%= link_to "Edit", edit_profile_path(@profile), :class => 'btn btn-primary' %>
<%= link_to "Delete", profile_path(@profile), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
<hr>